<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="settes/bootstrap/css/all.min.css">
    <link rel="stylesheet" href="settes/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="settes/bootstrap/css/style.css">
    <title>login</title>
</head>
<body>
    <div class="container">
        <div class="hlogin d-flex justify-content-center align-content-center align-items-center">
            <div class="login">
                <h4>Register</h4>
                <form action="" method="post">
                    <div>
                        <label class="my-2"><strong>username :</strong></label>
                        <input type="text" class="form-control" name="username" placeholder="Enter user">
                    </div>
                    <div>
                        <label class="my-2"><strong>country :</strong></label>
                        <input type="text" class="form-control" name="country" placeholder="Enter country">
                    </div>
                    <div>
                        <label class="my-2"><strong>old :</strong></label>
                        <input type="text" class="form-control" name="old" placeholder="your old">
                    </div>
                    <div>
                        <label class="my-2"><strong>work:</strong></label>
                        <input type="text" class="form-control" name="work" placeholder="Enter work">
                    </div>
                    <div>
                        <label class="my-2"><strong>email :</strong></label>
                        <input type="text" class="form-control" name="email" placeholder="Enter email">
                    </div>
                    
                    <div class="my-4"> 
                        <label class="my-2"><strong>Password :</strong></label>
                        <input type="password" class="form-control" name="password" placeholder="Enter password">
                    </div>
                    <input type="submit" value="Register" class="btn btn-success">
                </form>
              
            </div>
        </div>
    </div>
</body>
</html>